<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar')%>
        <div class="whole">
            <div class="login-body">
                <h1 class="tit">Sign In</h1>
                <form action="/login" class="validated-form" novalidate method="post">
                    <div class="form-container sign-in-container">
                        <div class="holding">
                            <input class="input-f" type="text" name="username" id="username" placeholder="Username"
                                required>
                        </div>
                        <div class="holding">
                            <input class="input-f" type="password" name="password" id="password" placeholder="Password"
                                required>
                        </div>
                        <button type="submit" class="see">Login</button>
                    </div>
                </form>
            </div>
            <img src="/stylesheets/chef.png" id="chefimg" alt="">
        </div>


</body>

</html>